body{
    font-family: 'Catamaran', sans-serif;
}
html{
    font-size: 62.5%;
}
p{
    margin: 0; padding: 0;
}
h1, h2, h3, h3, h4, h5, h6{
   margin: 0; padding: 0; line-height: .9;
}
ul, li{
    margin: 0; padding: 0; list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.loader{ 
    width: 100%; height: 100%; position: fixed; left: 0; top: 0; background-color: #fff; z-index: 9999; display: flex; align-items: center; justify-content: center;
    .spinner-border{ /*border-color: #0b0c26;*/     border: .25em solid #0b0c26;     border-right-color: transparent;}
}

.container{
    max-width: 1410px;
}
.clear {
    clear: both;
}
@media only screen and (max-width:1450px){
    .container{
        max-width: 1200px;
    }
}
@media only screen and (max-width:1200px){
    .container{
        max-width: 100%; width: 100%;
    }
}

.custom_button{
    display: inline-block;
    a{
        width: 21.1rem; height: 6.6rem; background-color: #291402; display: block; font-size: 1.5rem; color: #fff; text-decoration: none; outline-style: none; 
        line-height: 6.6rem; border-radius: .5rem; text-transform: uppercase; text-align: center; transition: all .5s ease-in;
        &:hover{
            background-color: #7f6657;
        }
    }    
}

.heading{
    &.text-center{
        span{
            right: 0; margin: auto
        }
        p{
            display: inline-block;
        }
    }
    width: 100%; margin: 0 0 5rem; padding: 6rem 0 0 0; float: left; position: relative;
    span{
        width: 5px; height: 5px; background-color: #7f6657; border-radius: 20px; position: absolute; top: 0; left: 0;  
        &::before{
            width: 5px; height: 5px; background-color: #7f6657; border-radius: 20px; position: absolute; top: 0; left: -8px; content: "";
        }
        &::after{
            width: 5px; height: 5px; background-color: #7f6657; border-radius: 20px; position: absolute; top: 0; left: 8px; content: "";
        }
    }
    
    h2{
        color: #000; font-size: 2rem; font-weight: 700; margin-bottom: 3rem; padding: 0; text-transform: uppercase;
    }
    p{
        font-size: 2rem; color: #000; line-height: 3.3rem; width: 50%;
    }
}

@media only screen and (max-width: 500px){
    .heading{
        p{
            width: 100%;
        }
    }
}

/*Header*/
.slicknav_menu{ 
    display: none; position: absolute; top: 0; bottom: 0; margin: auto; right: 0; width: 100%; z-index: 99;
    .slicknav_nav{ position: absolute; top: 100%; left: 0; width: 100%; background-color: #050505;}
    .slicknav_btn{
        width: 4rem; height: 4rem; background-color: #291402; border-radius: .5rem; float: right; position: absolute; top: 0; bottom: 0; margin: auto; right: 3rem;      padding: 1.3rem 0 0 0;
        .slicknav_icon{
            width: 100%;
        }
        .slicknav_icon-bar{ width: 60%; height: 3px; background: #fff;    display: block;
            margin: 0 auto 3px auto;
        }
        
       }
}

.slicknav_menu .slicknav_nav ul, .slicknav_menu .slicknav_nav li, .slicknav_menu .slicknav_nav a{ width: 100%;}
.slicknav_menu .slicknav_nav li a{ color: #fff; font-size: 1.4rem; text-transform: uppercase; text-align: left; float: left; padding: 1.5rem 2.5rem 1.5rem 3rem; border-bottom: #291402 .1rem solid; outline-style: none; position: relative;}
.slicknav_menu .slicknav_nav li .slicknav_item{ padding: 0; border-bottom: 0;}
.slicknav_menu .slicknav_nav li a span{
    position: absolute; top: 0; bottom: 0; right: 3rem; margin: auto; width: 2rem; height: 2rem; background-color: #846c5d; display: flex; justify-content: center; align-items: center;
}
.slicknav_menu .slicknav_nav li ul li a{ padding: 1rem 0 1rem 5rem; font-size: 1.2rem;  background-color: #291402; border-bottom: #846c5d .1rem solid;}

@media only screen and (max-width:500px){
    .slicknav_menu{ 
        .slicknav_btn{
            .slicknav_icon-bar{
                height: 2px; margin: 0 auto 2px auto;
            }
        }
        .slicknav_nav{
            li{
                a{
                    font-size: 1.8rem;
                }
                ul{
                    li{
                       a{
                        font-size: 1.7rem;
                       }
                    }
                }
            }
        }
    }
}

header{
    width: 100%; height: 10rem; float: left; background-color: #fff; padding: 0; position: relative; display: flex; align-items: center;
    .container{
        position: relative;
    }
    .logo{
        position: absolute; top: 0; left: 0; bottom: 0;  margin: auto; display: block; height: 6.7rem;
        
    }
    .right_details{
        float: right;
        .menu{
            float: left; padding-top: 1.3rem;
            li{
                float: left; margin-right: 2.7rem; padding-right: 3.1rem; position: relative; z-index: 2;
                &::after{
                    width: .6rem; height: .6rem; background-color: #a1a1a1;  position: absolute; top: 0; right: 0; bottom: 0; margin: auto; content: ""; border-radius: 1rem;
                }
                &:last-child{
                    margin-right: 0; padding-right: 0;
                    &::after{
                        display: none;
                    }
                }                
                a{
                    color: #000; font-weight: 700; text-transform: uppercase; transition: color .5s ease-in; font-size: 1.6rem; 
                }
                &:hover{
                    a{
                        color: #7f6657;
                    } 
                    ul{
                        top: 100%; opacity: 1; visibility: visible;
                        li{
                            a{
                                color: #fff;
                            }
                        }
                    }                 
                    
                }
                ul{
                    position: absolute; top: calc(100% + 2rem); left: 0; background-color: #291402; width: 30rem; opacity: 0; visibility: hidden; transition: all .5s ease-in;
                    li{
                        margin: 0; width: 100%; padding: 0;
                        a{
                            margin: 0; width: 100%; padding: 1rem 1.5rem; color: #fff;  border-bottom: #846c5d .1rem solid; float: left;
                        }
                        &::after{
                            display: none;
                        }
                        
                        
                    }
                }
            }
        }
        .right_widget{
            float: left; margin-left: calc(7.2rem - 2.5rem);
            .details{
               float: left;
               li{
                   float: left;
                   a{
                       padding: 0 2.5rem; height: 4.6rem; line-height: 4.9rem; border-radius: .5rem; color: #000; font-weight: 700; text-transform: uppercase; transition: color .5s ease-in; 
                       text-align: center; float: left; position: relative; font-size: 1.6rem; 
                       
                       img{
                           display: inline-block; margin-right: 1.1rem; position: relative; top: -2px;
                       } 
                       
                   }
                   &:last-child{
                        a{
                            background-color: #291402; color: #fff;
                        }                    
                    } 
                    &:first-child{
                        a{
                            &::after{
                                width: .1rem; height: 2.1rem; background-color: #cccccc; position: absolute; top: 0; bottom: 0; margin: auto; right: 0; content: "";
                            }
                        }
                    }  
               } 
            }
        }
    }
}

@media only screen and (max-width:1200px){
    header{
        .logo{
            left: 3rem;
        }
        .right_details{
            .right_widget{
                margin-left: 0; padding-right: 7.8rem;
            }            
            .menu{ display: none;}
        }
    }
    .slicknav_menu{ 
        display: block;
        .right_widget{
            display: none;
        }
    }    
}

@media only screen and (max-width:650px){
    
    header{
        padding: 0; background: #f7f7f7;
        
        .right_details{
            .right_widget{
                display: none;
            }
        }
    }
    .slicknav_menu{ 
        .right_widget{
            display: block;
            .details{
                li{
                    a{
                        img{display: none;}
                    }
                }
            }
        }
    }

}


/*Header*/








/*Hero*/

.hero_back{
    width: 100%; height: 60.8rem; float: left; display: flex; align-items: center; justify-content: center; text-align: center; position: relative;
    .ovarlay{
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.6); z-index: 1;
    }
    img{
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; 
    }
    .container{
        position: relative; z-index: 2;
        h1{
            color: #fff; font-size: 4.7rem; text-transform: uppercase; margin-bottom: 4rem;
        }
        p{
            color: #fff; font-size: 1.8rem; margin-bottom: 2.5rem;
        }
        .search_box{
            max-width: 83rem; width: 100%; height: 6.6rem; background-color: #fff; display: inline-block; text-align: center; padding-right: 35.8rem; position: relative; overflow: hidden; border-radius: 5px 3px 3px 5px;
            input[type="text"]{
                width: 100%; height: 6.6rem; float: left; background-color: transparent; padding: 0 2rem; border: none; outline-style: none; font-size: 1.7rem;
            }
            .submit_button{
                width: 21.1rem; height: 6.6rem; background-color: #7f6657; text-align: center; margin: 0; padding: 0; outline-style: none; cursor: pointer; position: absolute; top: 0; right: 0; 
                input[type="submit"]{
                    width: 100%; height: 100%; position: absolute; top: 0; right: 0; outline-style: none; border: none; background-color: transparent; cursor: pointer; line-height: 6.6rem; color: #fff; font-size: 1.4rem; text-transform: uppercase; font-weight: 700; letter-spacing: .5px; background-image: url(../images/search.png); background-position: 4.6rem center; background-repeat: no-repeat;
                }
            }
        }
    }
}

/*Hero*/

/*Bottom Sign up back*/
.bottom_sign_up_back{
    width: 100%; background-color: #000; padding: 2.5rem 0; text-align: center;  color: #fff; font-size: 2.3rem; text-align: center; float: left;
    a{
        text-decoration: underline; color: #fff;
    }
}


@media only screen and (max-width:500px){
    .bottom_sign_up_back{
        font-size: 2rem;
    }
}
/*Bottom Sign up back*/

/*home about us*/

.home_about_us_back{
    width: 100%; float: left; padding: 6rem 0;
    .left_content{
        width: 100%; height: auto; float: left;
        h2{
            font-size: 2rem; color: #000; margin-bottom: 4rem; text-transform: uppercase; font-weight: 700;
        }
        p{
            font-size: 2.4rem; line-height: 5rem; color: #000; padding-right: 20px;
        }
        .button_back{
            margin-top: 3rem;
            .custom_button{
                margin-right: 1.5rem;
            }
        }
    }
    .image_back{
        padding: 2.4rem 4rem 2.4rem 0; position: relative; z-index: 1; float: left; width: 100%;
        img{ width: 100%;}
        &::after{
            width: 28.9rem; height: 100%; position: absolute; top: 0; right: 0; border: #291402 4px solid; content: ""; z-index: -1;
        }
    }
}


@media only screen and (max-width:768px){
    .home_about_us_back{
        .left_content{
            text-align:  center;
            p{
                padding: 0;
            }
        }
        .image_back{
            margin-bottom: 5rem; padding: 2.4rem 0; 
            &:after{
                left: 0; margin: auto;
            }
        }
    }
}


/*home about us*/


/*Brow category part*/

.browse_category{
    width: 100%; float: left; padding: 6rem 0;
    .main_gallery_back{
        width: 100%; float: left; display: grid; grid-template-columns: 1fr 1fr 1fr;   grid-gap: 4rem;
        .portion{
            margin: 0; float: left; width: 100%;  grid-gap: 2rem; border: #e5e5e5 2rem solid;  display: flex; align-items: center; justify-content: center; position: relative;
            p{
                position: relative; z-index: 2; font-size: 2.4rem; font-weight: 600; color: #fff;
            }
            &::before{
                background-color: rgba(0,0,0,.6); width: calc(100%-2rem); height: calc(100%-2rem); content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
                z-index: 1; margin: auto;
            }
            img{
                width:100%; height: 100%; display: block; object-fit: cover; position: absolute; top: 0; bottom: 0; left: 0; right: 0;  margin: auto;
            }            
            &:nth-child(2){
                grid-row: 1/3; grid-column: 2/3; border-color: #000; height: 74rem;
            }
            &:nth-child(3){
                border-color: #291402;
            }
            &:nth-child(4){
                grid-row: 2/4; grid-column: 1/2; height: 74rem; border-color: #fbe9df;
            }
            &:nth-child(5){
                border-color: #b4b5b9;
            }
            &:nth-child(6){
                border-color: #291402;
            }
            &:nth-child(7){
                border-color: #e9e9e9;
            }
            

        }
    }
}

@media only screen and (max-width:1023px){
    .browse_category{
        .main_gallery_back{
            grid-gap: 2rem; grid-template-columns: 1fr 1fr 1fr; 
            .portion{                
                &:nth-child(2){
                   height: 500px; 
                }
                &:nth-child(4){
                    height: 500px;
                 }
            }
        }
    }
}
@media only screen and (max-width:500px){
    .browse_category{
        .main_gallery_back{
            .portion{        
                &:nth-child(2){
                   height: 30rem; 
                }
                &:nth-child(4){
                    height: 30rem;
                 }
            }
        }
    }
}


/*Brow category part*/

/* Amazing Contributor */
.amazing_contributor_back{
    width: 100%; float: left; padding: 7rem 0 6rem; text-align: center;
    .logo{
        display: inline-block; transform: rotate(-90deg); margin-bottom: 7rem; height: 6.7rem;
    }
    .mainslider_back{
        width: 100%; float: left;
        .portion{
            width: 100%; text-align: center; float: left;
            img{
                width: 21.8rem; height: 21.8rem; border-radius: 100%; display: inline-block; margin-bottom: 3rem;
            }
            h4{
                font-weight: 700; color: #000; font-size: 2.4rem; text-transform: capitalize; margin-bottom: 10px;
            }
            p{
                font-size: 2rem; color: #000;
            }
        }
        .owl-nav{
            position: absolute; top: 0; bottom: 0; width: 100%; height: 1.8rem; margin: auto;
            .owl-prev{
                width: 12px; height: 18px; background-image: url(../images/arrow-left.png); position: absolute; top: 0; left: 0; outline-style: none;
            }
            .owl-next{
                width: 12px; height: 18px; background-image: url(../images/arrow-right.png); position: absolute; top: 0; right: 0; outline-style: none;
            }
        }
        
    }
    .custom_button{
        margin-top: 6rem;
    }
}























@media only screen and (max-width:500px){
    html{
        font-size: 47.5%;
    }
}
@media only screen and (max-width:450px){
    html{
        font-size: 40%;
    }
    
}